* {
    font-family: 'Montserrat', sans-serif;
}

.imagen_index {
    border-radius: 25px;
}

#texto_index {
    padding: 3%;
    margin-top: 15%;
}

#texto_index_especifico {
    margin: 10% 0%;
}

#texto_index h1 {
    margin-top: 5%;
}

#texto_index p {
    padding: 3%;
}

.imagen_home {
    border-radius: 25px;
}

#tips article {
    margin: 2%;
}

@media screen and (min-width:576px) {
    #texto_index {
        margin-top: 1%;
    }
}


@media screen and (min-width:768px) {
    .textos_sobremi {
        padding: 4%;
    }


}

@media screen and (min-width:992px) {
    #texto_index {
        margin-top: 0%;
    }

    #texto_index_especifico {
        margin: 2% 0%;

    }

    .logo {
        transition: all 200ms;
    }

    .logo:hover {
        transform: scale(1.02);
    }

    li {
        transition: all 100ms;
    }

    li:hover {
        transform: scale(1.02);
        font-weight: bolder;
    }

    #descripcion {
        transition: all 200ms;
    }

    #descripcion_home:hover {
        transform: scale(1.4);
        border: solid;
        background-color: rgba(255, 255, 255, 0.973);
        border-radius: 15px;
    }


    .fotos_footer {
        transition: all 100ms;
    }

    .fotos_footer:hover {
        transform: scale(1.07);
    }

    #sobremi {
        padding: 1% 0%;
    }

    #tips article {
        transition: all 100ms;
    }

    #tips article:hover {
        transform: scale(1.07);
        background-color: white;
    }

    #complementos img {
        transition: all 100ms;
    }

    #complementos img:hover {
        transform: scale(1.07);
        border: solid;
        border-color: black;
    }

}

@media screen and (min-width:1200px) {
    #presentacion {
        padding: 1.4% 0%;
    }

    #home {
        padding: 4% 0%;
    }

    #tips article {
        margin: 0%;
        margin-bottom: 3%;

    }

    #complementos {
        padding: 3.8% 0%;
    }

    #complementos p {
        margin: 3% 0%;
    }
    

}